/*

primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24)

*/

:root {
    --PrimaryBackgroundColor: rgb(18, 24, 38);
    --GoldAccentColor: rgb(201, 167, 92);
    --Burgandy: rgb(68, 22, 35);
    --DarkCrimson: rgb(92, 24, 34); 
    --Oxblood: rgb(58, 16, 24);
    --LightTextColor: rgb(240, 236, 224);
    --DarkTextColor: rgb(45, 37, 26);
    --FaintTextColor: rgba(240, 236, 224, 0.3);
    --Shadow: rgba(0, 8, 26, 0.3);
}

* {
    padding: 0;
    margin: 0;
    color: var(--LightTextColor);
}
body {
    padding-top: 75px; /* for Navbar */
    font-family: 'uncial antiqua';
    font-weight: 400;
    font-style: normal;
    background-color: var(--PrimaryBackgroundColor);
    background-image:
        radial-gradient(
            rgba(68, 37, 139, 0.3) 1px,
            transparent 1px
        );
    background-size: 12px 12px;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
body::before {
    content: "◈𐌰𐌲𐌳𐌸𐌹◈";
    position: fixed;
    z-index: -1;
    font-size: 17rem;
    opacity: .03;
    pointer-events: none;
    line-break: none;
}
nav {
    top: 0;
    align-self: top;
    z-index: 3;
    position: fixed;
    position: top;
    width: 100%;
    font-family: 'Amita';
    background-color: var(--DarkCrimson);
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 14px 20px;
}
a {
    text-decoration: none;
    color: var(--GoldAccentColor);
    text-shadow: 2px 2px 2px black;
    transition: all 0.6s ease;
}
a:hover {
    text-shadow: 5px 5px 5px black;
    transform: translateY(5px);
}
nav a {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--Shadow);
    border-radius: 15px;
}
textarea {
    padding: 5px;
    border-radius: 5px;
    font-family: 'Amita';
    background-color: var(--PrimaryBackgroundColor);
}
button {
    font-family: 'Amita';
    border-radius: 5px;
    background-color: var(--PrimaryBackgroundColor);
    box-shadow: 3px 3px 10px black;
    padding: 20px;
    margin: 40px;
    transition: 0.3s ease all;
    min-width: 200px;
}
button:hover {
    font-family: 'Amita';
    background-color: var(--PrimaryBackgroundColor);
    box-shadow: 8px 8px 10px black;
    margin: 40px;
    transform: translateY(-5px);
}
.navSymbol {
    margin-left: 15%;
    margin-right: 15%;
    color: var(--GoldAccentColor);
    opacity: 0.6;
}
.divider{
    color: var(--GoldAccentColor);
    opacity: 0.6;
    text-align: center;
    margin:50px;
}

/* 
other classes for basic themes and positioning website-wide

 - PageTitle
 - SoftTitle
 - InstanceTitle
 - Section
 - Card
 - Section Card
 - Disclaimer

*/

.PageTitle {
    text-align: center;
    letter-spacing: 20px;
    font-size: 350%;
    margin: 50px;
    padding: 50px;
}
.disclaimer {
    color: var(--FaintTextColor);
    margin-top: 20px;
    text-indent: 20px;
}
section {
    height: fit-content;
    width: fit-content;
    justify-self: center;
    padding: 10px;
    min-height: 100px;
    min-width: 20%;
    margin: 50px;
    margin-top: 0;
    border-radius: 10px;
    background-image: linear-gradient( 180deg, var(--DarkCrimson), var(--Oxblood));
}
.TabTitle{
    font-family: 'Amita';
    justify-self: center;
    padding: 40px;
    background-color: var(--DarkCrimson);
    transform: translateY(10px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.TabTitle::before {
    content: '◈';
    position: relative;
    right: 20px;
    color: var(--GoldAccentColor);
}
.TabTitle::after {
    content: '◈';
    position: relative;
    left: 20px;
    color: var(--GoldAccentColor);
}
.Columns {
    min-width: 50vw;
    width: 100%;
    display: flex;
    list-style: none;
}
.Columns li {
    padding: 10px;
    text-align: center;
    width: 100%;
    min-height: 200px;  
    border-radius: 10px;
}
.Columns li a {
    line-height: 80px;
    padding: 10px;
    background-color: var(--Oxblood);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--Shadow);
}
.Structure {
    background-color: var(--Oxblood);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.Structure ul {
    list-style: none;
    padding-left: 20px;
}
.Structure li {
    list-style: none;
    margin: 5px 0;
    position: relative;
}
.Structure li::before {
    content: '└ ';
}
.card {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--DarkCrimson);
    justify-self: center;
    width: 16.5%;
}
.MapNDisc {
    justify-content: center;
    list-style-type: none;
    display: flex;
}
.Description {
    min-width: 20%;
    max-width: 50%;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    background-color: var(--DarkCrimson);
    border-radius: 10px;
    line-height: 50px;
}
.Description p {
    text-indent: 50px;
    background-color: var(--Oxblood);
    border-radius: 10px;
    min-height: 45%;
    margin-top: 10px;
    padding: 30px;
}
.AddDelete {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.AddDelete li {
    background-color: var(--Oxblood);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: none;
}
.InstanceTitle {
    font-family: 'Amita';
    font-weight: bold;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--Oxblood);
}
.Entry {
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--Oxblood);
    padding: 30px;
}
.Edit {
    max-width: 50vw;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.Edit li {
    border-radius: 10px;
    background-color: var(--Oxblood);
    padding: 20px;
    margin: 10px;
}
form {

    width: fit-content;
    height: fit-content;
    justify-self: center;
    background-image: linear-gradient( 180deg, var(--DarkCrimson), var(--Oxblood)) ;
    border-radius: 10px;
    margin: 10px;
}
form ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
form ul li {
    background-color: var(--Oxblood);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
label {
    font-family: 'Uncial Antiqua';
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    margin-right:100px;
}
input, select, option {
    padding: 5px;
    border-radius: 10px;
    font-family: 'Amita';
    margin-bottom: 10px;
    background-color: var(--PrimaryBackgroundColor);
}
textarea {
    background-color: var(--PrimaryBackgroundColor);
    z-index: -2;
}
.submit {
    width: 90%;
}
.button {
    margin: 0;
    padding: 0;
}
footer {
    background-color: var(--DarkCrimson);
}
footer ul {
    padding: 10px;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
}
footer ul li {
    background-color: var(--Oxblood);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
footer h4 {
    font-family: 'Amita';
}