/*

primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24)

*/

:root {
    --PrimaryBackgroundColor: rgb(18, 24, 38);
    --GoldAccentColor: rgb(201, 167, 92);
    --Burgandy: rgb(68, 22, 35);
    --DarkCrimson: rgb(92, 24, 34); 
    --Oxblood: rgb(58, 16, 24);
    --LightTextColor: rgb(240, 236, 224);
    --FaintTextColor: rgba(240, 236, 224, 0.3);
    --Shadow: rgba(0, 0, 0, 0.6);
}

* {
    padding: 0;
    margin: 0;
    color: var(--LightTextColor);
    text-shadow: 5px 5px 2px var(--Shadow);
    font-family: 'Almendra', 'serif';
    font-weight: 400;
    font-style: normal;
}
body {
    padding-top: 75px; /* for Navbar */
    background-color: var(--PrimaryBackgroundColor);
    background-image:
        radial-gradient(
            rgba(68, 37, 139, 0.3) 1.5px,
            transparent 1px
        );
    background-size: 12px 12px;
}
.BackgroundText {
    width: 100%;
    height: 100%;
    font-family: 'Mea Culpa', 'Cursive';
    font-weight: 400;
    position: fixed;
    justify-self: center;
    text-align: center;
    z-index: -1;
    font-size: 18rem;
    opacity: .15;
    color: black;
    line-break: none;
    pointer-events: none;
    user-select: none;
    padding: 50px;
    background-image: linear-gradient(transparent, black);
    text-shadow: none;
}
nav {
    top: 0;
    align-self: top;
    z-index: 3;
    position: fixed;
    position: top;
    width: 100%;
    background-color: var(--DarkCrimson);
    overflow: hidden;
    box-shadow: 0 5px 20px var(--Shadow);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 14px 20px;
}
a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--GoldAccentColor);
    transition: all 0.3s ease;
}
nav a {
    display: inline-block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--Shadow);
    border-radius: 15px;
    background-color: var(--Oxblood);
    box-shadow: 5px 5px 2px var(--Shadow);
}
nav a:hover {
    transform: translateY( -5px );
    box-shadow: 5px 5px 7px var(--Shadow);
}
textarea {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--PrimaryBackgroundColor);
}
.navSymbol {
    margin-left: 15%;
    margin-right: 15%;
    color: var(--GoldAccentColor);
    opacity: 0.6;
}
.divider{
    color: var(--GoldAccentColor);
    opacity: 0.6;
    text-align: center;
    margin: 50px;
    text-shadow: 5px 5px 2px var(--Shadow);
    user-select: none;
    white-space: nowrap;
}

/* 
other classes for basic themes and positioning website-wide

 - PageTitle
 - SoftTitle
 - InstanceTitle
 - Section
 - Card
 - Section Card
 - Disclaimer

*/

.PageTitle {
    color: var(--GoldAccentColor);
    text-shadow: 5px 5px 2px black;
    text-align: center;
    letter-spacing: 20px;
    font-size: 10vw;
    white-space: nowrap;
    font-family: 'Mea Culpa';
    font-weight: 400;
    margin: 50px;
    padding: 50px;
}
section {
    justify-self: center;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    min-height: 100px;
    min-width: 50%;
    max-width: 95%;
    padding: 10px;
    margin: 50px;
    margin-top: 0;
    border-radius: 10px;
    background-image: linear-gradient( 180deg, var(--DarkCrimson), var(--Oxblood));
    box-shadow: 5px 5px 2px var(--Shadow);
}
.TabTitle{
    font-family: 'Almendra', 'serif';
    font-weight: 400;
    font-style: italic;
    justify-self: center;
    z-index: 0;
    padding: 40px;
    background-color: var(--DarkCrimson);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: 5px 5px 2px var(--Shadow);
    box-shadow: 5px 5px 2px var(--Shadow);
    margin-bottom: 0;
}
.TabTitle::before {
    content: '◈';
    font-style: normal;
    position: relative;
    right: 20px;
    color: var(--GoldAccentColor);
}
.TabTitle::after {
    content: '◈';
    font-style: normal;
    position: relative;
    left: 20px;
    color: var(--GoldAccentColor);
}
.InstanceTitle {
    justify-self: center;
    width: fit-content;
    min-width: 75%;
    font-family: 'Almendra';
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--Oxblood);
    text-shadow: 5px 5px 2px var(--Shadow);
    box-shadow: 5px 5px 2px var(--Shadow);
}
.disclaimer {
    color: var(--FaintTextColor);
    margin-top: 20px;
    text-indent: 20px;
}




.Columns {
    min-width: 50vw;
    width: 100%;
    display: flex;
    list-style: none;
}
.Columns li {
    padding: 10px;
    text-align: center;
    width: 100%;
    min-height: 200px;  
    border-radius: 10px;
    min-width: 20vw;
}
.Columns a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--Oxblood);
    border-radius: 10px;
    box-shadow: 5px 5px 2px var(--Shadow);
}
.Columns a:hover{
    transform: translateY( -5px );
    box-shadow: 7px 7px 7px var(--Shadow);
}
a:hover {
    color: var(--LightTextColor);
}





.Structure {
    background-color: var(--Oxblood);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px var(--Shadow);
}
.Structure ul {
    list-style: none;
    padding-left: 20px;
}
.Structure li {
    list-style: none;
    margin: 5px 0;
    position: relative;
}
.Structure li::before {
    content: '└ ';
}







.card {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--DarkCrimson);
    justify-self: center;
    min-width: 16.5%;
    box-shadow: 5px 5px 2px var(--Shadow);
}
.MapNDisc {
    justify-content: center;
    list-style-type: none;
    display: flex;
}
.Description {
    min-width: 20vw;
    max-width: 40vw;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    background-color: var(--DarkCrimson);
    border-radius: 10px;
    line-height: 50px;
    box-shadow: 5px 5px 2px var(--Shadow);
}
.Description p {
    font-size: 1.3rem;
    line-height: 2rem;
    text-indent: 2rem;
    background-color: var(--Oxblood);
    border-radius: 10px;
    min-height: 45%;
    margin-top: 10px;
    padding: 30px;
    box-shadow: 5px 5px 2px var(--Shadow);
}
.AddDelete {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.AddDelete li {
    background-color: var(--Oxblood);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: none;
    box-shadow: 5px 5px 2px var(--Shadow);
}




.Entry {
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--Oxblood);
    padding: 30px;
}
.Edit {
    max-width: 50vw;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.Edit li {
    border-radius: 10px;
    background-color: var(--Oxblood);
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 2px var(--Shadow);
    transition: all 0.3s ease;
}
.Edit li:hover {
    transform: translateY( -5px );
    box-shadow: 7px 7px 7px var(--Shadow);
}
form ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
form li {
    background-color: var(--Oxblood);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 2px var(--Shadow);
}
label {
    font-family: 'Uncial Antiqua';
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    margin-right:100px;
}
input, select, option {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--DarkCrimson);
}
textarea {
    background-color: var(--DarkCrimson);
    z-index: -2;
}
.submit {
    width: 90%;
}
.button {
    margin: 0;
    padding: 0;
}
footer {
    background-color: var(--Oxblood);
}
footer .InstanceTitle {
    background-color: var(--DarkCrimson);
}
footer ul {
    padding: 10px;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
}
footer li {
    background-color: var(--DarkCrimson);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
footer h4 {
    font-family: 'Uncial Antiqua';
}
.FooterSection {
    border-top: 2px solid var(--Shadow);
    border-left: 2px solid var(--Shadow);
}
select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-top: 2px solid var(--Shadow);
    border-left: 2px solid var(--Shadow);
}
select:focus, input:focus, textarea:focus {
    outline: none;
}
input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-top: 2px solid var(--Shadow);
    border-left: 2px solid var(--Shadow);
}
textarea {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-top: 2px solid var(--Shadow);
    border-left: 2px solid var(--Shadow);
}
button {
    background-color: var(--Oxblood);
    box-shadow: 5px 5px 2px var(--Shadow);
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    transition: 0.3s ease all;
    min-width: 200px;
}
button:hover {
    background-color: var(--Oxblood);
    box-shadow: 7px 7px 7px var(--Shadow);
    margin: 40px;
    transform: translateY(-5px);
}
.Warning {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-self: center;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
th{
    padding: 10px;
    box-shadow: 5px 5px 2px var(--Shadow);
    background-color: var(--Oxblood);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid var(--GoldAccentColor);
    text-align: center;
}
td {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 2px var(--Shadow);
    background-color: var(--DarkCrimson);
    border-bottom: 2px solid var(--Oxblood);
    text-align: center;
}
table {
    justify-self: center;
    min-width: fit-content;
}
.heading {
    text-shadow:
        2px 2px 0 black,
        5px 5px 2px var(--Shadow)
    ;
    margin-top: 10px;
    font-size: 1.25rem;
    font-style: italic;
}
.heading::before {
    content: '◈';
    font-style: normal;
    position: relative;
    right: 20px;
    color: var(--GoldAccentColor);
}
.box {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--DarkCrimson);
    box-shadow: 5px 5px 2px var(--Shadow);
    border-radius: 10px;
    padding: 5px;
}
.lexemes {
    justify-self: center;
    z-index: 1;
    height: fit-content;
    min-height: 100px;
    padding: 10px;
    margin: 50px;
    margin-top: 0;
    border-radius: 10px;
    background-image: linear-gradient( 180deg, var(--DarkCrimson), var(--Oxblood));
    box-shadow: 5px 5px 2px var(--Shadow);
}
.lexeme_basics th, .lexeme_basics td {
    padding: 30px;
}
.Wordforms th{
    padding: 30px;
}
.block {
    width: 20rem;
}