{% extends "base.html" %}

{% block title %}
Conlib - Add Language
{% endblock %}

{% block style %}
    <style>
/*
primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24) 
*/
        
</style>
{% endblock %}

{% block content %}
    <div class="divider">✦ ───────── ◈ ───────── ✦</div>
    <h1 class="PageTitle">Add Dialect</h1>
    <div class="divider">✦ ───────── ◈ ───────── ✦</div>
    <h3 class="TabTitle">Required Dialect Information</h3>
    <form method="POST" action="{{ url_for('languages.add_dialect', language_id=language.id) }}">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="UK English" required>
                <br>
                <label for="parent_dialect_id">Parent:</label>
                <select id="parent_dialect_id" name="parent_dialect_id">
                    <option value="" >{{ language.name }}</option>
                    {% for dialect in language.dialects %}
                    <option value="{{ dialect.id }}">{{ dialect.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <p class="disclaimer">Not Required --</p>
                <br>
                <label for="geo_tag">Dialect Type:</label>
                <select id="geo_tag" name="geo_tag">
                    <option value="regional">Regional</option>
                    <option value="class_based">Class Based</option>
                    <option value="archaic">Archaic</option>
                    <option value="pidgin">Pidgin</option>
                    <option value="creole">Creole</option>
                    <option value="liturgical">Liturgical</option>
                    <option value="informal">Informal</option>
                    <option value="other">Other</option>
                </select>
                <br>
                <label for="region">Region:</label>
                <input type="text" id="region" name="region" placeholder="Brazil, United Kingdom">
            </li>
                
            <li>
                <label for="description">Description:</label>
                <br>
                <textarea id="description" name="description" rows="12" cols="60" placeholder="Write Details about why this dialect came into existance, what purpose does it serve Narratively? What do people in certain areas think about those that speak this dialect?"></textarea>
                <br>
            </li>
        </ul>
        <ul class="button">
            <button type="submit" class="submit">
                Add Dialect
            </button>
        </ul>
    </form>
{% endblock %}