<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Conlang Library{% endblock %}</title>   
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}"/>
        <link href="{{ url_for('static', filename='Styles/base.css')}}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amita:wght@400;700&family=Comfortaa:wght@300..700&family=Libertinus+Mono&family=Mea+Culpa&family=Uncial+Antiqua&display=block" rel="stylesheet">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li class="navSymbol">◈</li>
                <li><a href="{{ url_for( 'languages.languages_home') }}">Languages</a></li>
                <li><a href="{{ url_for( 'translator.translator_home')}}">Translator</a></li>
                <li><a href="{{ url_for( 'export.export_home') }}">Export</a></li>
                <li><a href="{{ url_for( 'languages.add_language') }}">Add</a></li>
                <li class="navSymbol">◈</li>
            </ul>
        </nav>
        <div class="BackgroundText">Prop3nguin</div>
        <!-- base.html Header end -->
        {% block content %}
        {% endblock %}
        <!-- base.html Footer Start -->
        <div class="divider">✦ ───────── ◈ ───────── ✦</div>
        <footer>
            <ul>
                <li class="FooterSection">
                    <h4>Author Name & Username</h4>
                    <ul>
                        <li>Spencer Haley</li>
                        <li>Prop3nguin</li>
                    </ul>
                </li>
                <li class="FooterSection">
                    <h4>Social Links</h4>
                    <ul>
                        <li><a href="https://github.com/Prop3nguin">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/spencer-haley-ab509a402/">Linkdin</a></li>
                    </ul>
                </li>
                <li class="FooterSection">
                    <h4>Other Projects</h4>
                    <ul>
                        <li><a href="https://prop3nguin.github.io">Portfolio</a></li>
                    </ul>
                </li>
            </ul>
        </footer>
    </body>
</html>