{% extends "base.html" %}

{% block title %}
ConLib - Export
{% endblock %}

{% block style %}
<style>
/*
primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24) 
*/

    .PageTitle {
        margin: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="PageTitle">Database Structure</h1>
<section>
    <h2>Languages</h2>
    <ul>
        {% for language in languages %}
        <li>{{ language.name }} ({{ language.family }})</li>
        {% endfor %}
    </ul>

    <h2>Dialects</h2>
    <ul>
        {% for dialect in dialects %}
        <li>{{ dialect.name }} ({{ dialect.language.name }})</li>
        {% endfor %}
    </ul>

    <h2>Scripts</h2>
    <ul>
        {% for script in scripts %}
        <li>{{ script.name }}</li>
        {% endfor %}
    </ul>

    <h2>Glyphs</h2>
    <ul>
        {% for glyph in glyphs %}
        <li>{{ glyph.character }} ({{ glyph.script.name }})</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}