{% extends "base.html" %}

{% block title %}
ConLib - Export
{% endblock %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">Database Structure</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<section>
    <h2>Languages</h2>
    <ul>
        {% for language in languages %}
        <li>{{ language.name }}</li>
        {% endfor %}
    </ul>

    <h2>Dialects</h2>
    <ul>
        {% for dialect in dialects %}
        <li>{{ dialect.name }} ({{ dialect.language.name }})</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}