{% extends "base.html" %}

{% block title %}
Conlib - delete Lang
{% endblock %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">Delete Language</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h2 class="TabTitle" style="color: red;">Are you sure you want to delete {{ language.name }}?</h2>
<section>
    <form action="{{ url_for('languages.delete_language', language_id=language.id) }}" method="POST" style="display:inline;">
        <ul class="Columns">
            <button type="submit">Yes</button>
            <button type="button" onclick="window.location.href='/';">No</button>
        </ul>
    </form>
</section>
{% endblock %}