{% extends "base.html" %}

{% block title %}
ConLib - ({{ language.name }}) {{ dialect.name }}
{% endblock %}

{% block style %}
<style>
/*
primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24) 
*/
</style>
{% endblock %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
{% if dialect.name != 'Root' and dialect.parent.name is not none %}
<h1 class="PageTitle">{{ dialect.parent.name }} / {{ dialect.name }}</h1>
{% else %}
<h1 class="PageTitle">{{ language.name }} / {{ dialect.name }}</h1>
{% endif %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<a href="{{ url_for( 'languages.delete_dialect', dialect_id=dialect.id) }}">Delete Dialect</a>
{% endblock %}