{% extends "base.html" %}  

{% block title %}
{{ language.name }} Details
{% endblock %}

{% macro render_dialects(dialect_list, language_id) %}
    <ul>
        {% for dialect in dialect_list %}
            <li>
                {% if dialect.children %}
                    <strong>
                        <a href="{{ url_for('languages.dialect_detail', dialect_id=dialect.id, language_id=language_id) }}">
                            {{ dialect.name }}
                        </a>
                    </strong>
                    {{ render_dialects(dialect.children, language_id) }}
                {% else %}
                    <a href="{{ url_for('languages.dialect_detail', dialect_id=dialect.id, language_id=language_id) }}">
                        {{ dialect.name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">{{ language.name }}</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle">Edit Actions</h3>
<section>
    <ul class="Edit">
        <li>Edit Description</li>
        <li>Add Script</li>
        <li>
            <a href="{{ url_for('lexicon.add_lexeme', language_id=language.id) }}">Add Lexeme</a>
        </li>
        <li>Add Etymology Article / Event</li>
        <li>Add Idiom / Sample Text</li>
        <li>
            <a href="{{ url_for( 'languages.delete_language', language_id=language.id) }}">Delete Language</a>
        </li>
    </ul>
</section>
<ul class="MapNDisc">
    <div class="card">
        <h3 class="InstanceTitle">Dialect Structure</h3>
        <ul class="Structure">
            <li>
                <strong>{{ language.name }}</strong>
                <ul>
                    {% for dialect in root_dialects %}
                        <li>
                            {% if dialect.children %}
                                <strong>
                                    <a href="{{ url_for('languages.dialect_detail', dialect_id=dialect.id, language_id=language.id) }}">
                                        {{ dialect.name }}
                                    </a>
                                </strong>
                                {{ render_dialects(dialect.children, language.id) }}
                            {% else %}
                                <a href="{{ url_for('languages.dialect_detail', dialect_id=dialect.id, language_id=language.id) }}">
                                    {{ dialect.name }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="AddDelete">
            <li><a href="{{ url_for( 'languages.add_dialect', language_id=language.id) }}">Add</a></li>
        </ul>
    </div>
    <div class="Description">
        <h3 class="InstanceTitle">Description</h3>
        <p>{{ language.description }}</p>
    </div>
</ul>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle">Articles & Rosseta Stones</h3>
<section>
    <ul class="Columns">
        <li>
            <h3 class="InstanceTitle">Related Articles :</h3>

        </li>
        <li>
            <h3 class="InstanceTitle">Sample Texts :</h3>

        </li>
    </ul>
</section>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle"><a href="{{ url_for( 'lexicon.lexemes', language_id=language.id ) }}">{{ language.name }} Lexicon</a></h3>
<section>
    <table>
        <thead>
            <th>Lexeme type</th>
            <th>Glossary</th>
            <th>Lemma</th>
            <th>Wordforms</th>
        </thead>
        {% for lexeme in language.lexemes %}
        <tbody>
                <td>{{ lexeme.part_of_speech }}</td>
                <td class="block">{{ lexeme.gloss }}</td>
                <td>{{ lexeme.lemma }}</td>
                <td>
                    {% if lexeme.word_forms | length > 1 %}
                        {% for word_form in lexeme.word_forms %}
                            {{ word_form.written_form }}, 
                        {% endfor %}
                    {% else %}
                        {% for word_form in lexeme.word_forms %}
                            {{ word_form.written_form }}
                        {% endfor %}
                    {% endif %}
                </td>
        </tbody>
        {% endfor %}
    </table>
</section>

{% endblock %}