{% extends "base.html" %}

{% block title %}
ConLib - Languages
{% endblock %}

{% block style %}
    <style>
/*
primary Background : rgb(18, 24, 38)

gold accent : rgb(201, 167, 92) 

    Reds ;
Burgandy : rgb(68, 22, 35)

Dark crimson : rgb(92, 24, 34)

Oxblood : rgb(58, 16, 24) 
*/
        ul {
            list-style-type: none;
            padding: 10;
        }
        ul li li a {
            text-indent: 50px;
        }
        .divider {
        text-align: center;
        margin: 2rem 0;
        opacity: .6;
        }
    </style>

{% endblock %}

{% block content %}

<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">Conlang Library</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle">Languages, Dialects and Articles</h3>
    <section>   
        <ul>
            {% for language in languages %}
            <h2 class="InstanceTitle"><a href="{{ url_for( 'languages.language_detail', language_id=language.id ) }}">{{ language.name }}</a> - <a href="{{ url_for( 'languages.delete_language', language_id=language.id) }}">Delete</a></h2>
            <ul class="Columns">
                <li>
                    <h3 class="InstanceTitle">Dialects:</h3>
                    {% for dialect in language.dialects %}
                    <a href="{{ url_for( 'languages.dialect_detail', dialect_id=dialect.id, language_id=language.id ) }}">{{ dialect.name }}</a>
                    {% endfor %}
                </li>
                <li>    
                    <h3 class="InstanceTitle">Articles:</h3>
                    {% for Article in Articles %}
                    <a href="#">{{ Article.name }}</a>
                    {% endfor %}
                </li>
            </ul>
            <div class="divider">✦ ───────── ◈ ───────── ✦</div>
            {% endfor %}
        </ul>
    </section>
{% endblock %}