{% extends 'base.html' %}

{% block title %}
{{ language.name }} Lexicon
{% endblock %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">{{ language.name }} Lexicon</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle">Edit Actions</h3>
<section>
    <div class="divider">✦ ───────── ◈ ───────── ✦</div>
    <ul class="Edit">
        <li>Edit Description</li>
        <li>
            <a href="{{ url_for('lexicon.add_lexeme', language_id=language.id) }}">Add Lexeme</a>
        </li>
        <li>Add Etymology Article / Event</li>
        <li>Add Idiom / Sample Text</li>
    </ul>
</section>
<h2 class="TabTitle">Lexemes</h2>
<section class="lexemes">
    {% for lexeme in language.lexemes %}
    <div class="divider">✦ ───────── ◈ ───────── ✦</div>
    <h3 class="InstanceTitle">{{ lexeme.lemma }}</h3>
    <ul class="Columns">
        <li>
            <p class="heading">Basics</p>
            <table class="lexeme_basics">
                <thead>
                    <th>Lemma</th>
                    <th>Part of Speech</th>
                </thead>
                <tbody>
                    <td>{{ lexeme.lemma }}</td>
                    <td>{{ lexeme.part_of_speech }}</td>
                </tbody>
            </table>
            <form action="{{ url_for( 'lexicon.edit_lexeme', language_id=language.id, lexeme_id=lexeme.id ) }}", method="POST">
                <button type="submit" onclick="return confirm('are you sure?');">DELETE lexeme</button>
            </form>    
        </li>
        <li>
            <p class="heading">Glossary</p>
            <p class="box">{{ lexeme.gloss }}</p>
            {% if lexeme.notes %}
            <p class="heading">Notes</p>
            <p class="box">{{ lexeme.notes }}</p>
            {% endif %}
        </li>
        <li>
            <p class="heading">Wordforms</p>
            <table class="Wordforms">
                <thead>
                    <th>Word Variations</th>
                    <th>Parent Dialect</th>
                    <th>Delete WordForm</th>
                </thead>
                {% for word_form in lexeme.word_forms %}
                <tbody>
                    <td>{{ word_form.written_form }}</td>
                    <td>{{ word_form.dialect.name }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('lexicon.delete_word_form', word_form_id=word_form.id) }}">
                            <button type="submit" onclick="return confirm('are you sure?');">DELETE</button>
                        </form>
                    </td>
                </tbody>
                {% endfor %}
            </table>
            <a href="{{ url_for('lexicon.add_word_form', lexeme_id=lexeme.id) }}">Add Word-Form</a>
        </li>
    </ul>
    {% endfor %}
</section>


{% endblock %}