{% extends 'base.html' %}

{% block title %}
{{ language.name }} Lexicon
{% endblock %}

{% block content %}
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h1 class="PageTitle">{{ language.name }} Lexicon</h1>
<div class="divider">✦ ───────── ◈ ───────── ✦</div>
<h3 class="TabTitle">Edit Actions</h3>
<section>
    <ul class="Edit">
        <li>Edit Description</li>
        <li>Add Script</li>
        <li>Add Lexeme</li>
        <li>Remove Lexeme</li>
        <li>Add Etymology Article / Event</li>
        <li>Add Idiom / Sample Text</li>
    </ul>
</section>
<h2 class="TabTitle">Lexemes</h2>
<section>
    
</section>


{% endblock %}